@keyframes flotar-top {
  25% {
    transform: translateY(-15px); }
  50% {
    transform: translateY(0); }
  75% {
    transform: translateY(15px); } }

@keyframes flotar-bottom {
  25% {
    transform: translateY(15px); }
  50% {
    transform: translateY(0); }
  75% {
    transform: translateY(-15px); } }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

h1, h2, h3 {
  font-family: "Alegreya Sans SC", sans-serif; }

p {
  font-family: "Khula", sans-serif; }

.navbar {
  background-color: #000000;
  padding: .2%;
  position: fixed;
  width: 100%;
  z-index: 1; }
  .navbar .nav {
    padding: inherit;
    width: 100%;
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    font-family: "Khula", sans-serif; }
    .navbar .nav .nav_item {
      padding: .5%; }
      .navbar .nav .nav_item .nav_link {
        color: #ffffff;
        font-size: 1.1rem;
        text-decoration: none; }
        .navbar .nav .nav_item .nav_link:hover {
          color: #006e7f;
          border-bottom: 1px solid #000000; }

.title {
  position: absolute;
  width: 30vw;
  height: 60vh;
  top: 25%;
  left: 35%;
  background-color: #000000;
  box-shadow: 0 0 5px 5px #ffffff;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 5%; }
  .title .title_body {
    border: 5px solid #ffffff;
    padding: 2%; }
    .title .title_body h1 {
      color: #ffffff; }
  .title a {
    width: inherit;
    text-align: center; }
    .title a button {
      width: 50%;
      border: none;
      background-color: #ffffff;
      color: #000000;
      font-weight: bold; }

.circle1 {
  background: linear-gradient(45deg, #000000 45%, #ffffff);
  top: 40%;
  left: 20%;
  width: 10vw;
  height: 20vh;
  position: absolute;
  border-radius: 50%;
  animation: flotar-top 5s infinite; }

.circle2 {
  background: linear-gradient(25deg, #000000 45%, #ffffff);
  top: 50%;
  left: 70%;
  width: 10vw;
  height: 20vh;
  position: absolute;
  border-radius: 50%;
  animation: flotar-bottom 5s infinite; }

.inicio {
  height: 90vh;
  display: flex;
  column-gap: 10%;
  align-items: center;
  justify-content: center; }
  .inicio .inicio_header {
    width: 40%;
    height: 50%; }
    .inicio .inicio_header .inicio_img {
      width: 100%;
      height: 100%;
      opacity: .9; }
      .inicio .inicio_header .inicio_img img {
        width: 90%;
        height: inherit; }
  .inicio .inicio_body {
    width: 40%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1%;
    border-right: 1px solid #00dcff;
    position: relative;
    text-align: center; }
    .inicio .inicio_body div {
      position: absolute;
      width: 100%;
      left: 0;
      top: 0;
      height: 5%;
      background-color: #00dcff; }
    .inicio .inicio_body h2 {
      margin-top: 5%;
      color: #006e7f; }
    .inicio .inicio_body a {
      color: #006e7f; }
    .inicio .inicio_body p {
      width: 80%;
      text-align: justify;
      padding: 2%; }
  .inicio:nth-child(2) {
    flex-direction: row-reverse; }

footer {
  display: flex;
  flex-direction: column; }
  footer .footer_content {
    display: flex;
    background-color: #000000;
    width: inherit;
    height: 50vh;
    align-items: center;
    opacity: .9; }
    footer .footer_content .footer_header {
      width: 40%;
      color: #ffffff;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
  footer .footer_body {
    padding: 3%;
    display: flex;
    column-gap: 10%;
    background-color: #006e7f; }
    footer .footer_body .footer_item {
      display: flex;
      flex-direction: column;
      align-items: center;
      color: #ffffff; }
      footer .footer_body .footer_item a {
        color: #7fedff; }
      footer .footer_body .footer_item:last-child {
        flex-direction: row;
        column-gap: 15%;
        letter-spacing: .5rem; }

.nosotros {
  display: flex;
  height: 90vh;
  justify-content: center;
  align-items: center;
  column-gap: 3%; }
  .nosotros:nth-child(2) {
    flex-direction: row-reverse;
    align-items: center; }
    .nosotros:nth-child(2) img {
      width: 25%;
      height: 70%; }
    .nosotros:nth-child(2) .nosotros_text h3 {
      text-align: center;
      margin-right: 20%; }
  .nosotros .nosotros_body {
    width: 30%;
    display: flex;
    flex-direction: column;
    height: 80%;
    justify-content: center;
    padding: 1%; }
    .nosotros .nosotros_body p:nth-child(2) {
      padding-bottom: 10%;
      width: 80%;
      text-align: justify;
      font-size: .9rem; }
  .nosotros .nosotros_img {
    width: 30%; }
  .nosotros .nosotros_text {
    width: 30%;
    display: flex;
    flex-direction: column; }
    .nosotros .nosotros_text .nosotros_item {
      display: flex;
      flex-direction: column;
      height: 25vh;
      row-gap: 5%;
      align-items: center; }
      .nosotros .nosotros_text .nosotros_item p {
        width: 80%;
        text-align: justify; }

.main {
  display: flex;
  height: 90vh;
  width: 100%;
  align-items: center;
  justify-content: center;
  column-gap: 5%; }
  .main .main_item {
    width: 20%;
    height: 30%;
    border: 1px solid #00dcff;
    border-radius: 1rem;
    display: flex;
    flex-direction: inherit;
    transition: .25s; }
    .main .main_item:hover {
      border: none;
      box-shadow: 0px 3px 3px 3px #7fedff; }
    .main .main_item .main_header {
      width: 40%;
      background: linear-gradient(25deg, #006e7f, #00dcff);
      text-align: center;
      color: #ffffff;
      display: flex;
      align-items: center;
      justify-content: center;
      border-top-left-radius: 1rem;
      border-bottom-left-radius: 1rem; }
    .main .main_item .main_body {
      width: 60%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 1%; }
      .main .main_item .main_body p {
        width: 80%;
        font-size: .9rem; }
      .main .main_item .main_body a img {
        transform: rotate(90deg);
        transition: .30s;
        opacity: .5; }
        .main .main_item .main_body a img:hover {
          transform: rotate(0deg);
          opacity: 1; }

@keyframes flotar-top {
  25% {
    transform: translateY(-15px); }
  50% {
    transform: translateY(0); }
  75% {
    transform: translateY(15px); } }

@keyframes flotar-bottom {
  25% {
    transform: translateY(15px); }
  50% {
    transform: translateY(0); }
  75% {
    transform: translateY(-15px); } }

.contactos {
  height: 90vh;
  width: 100%; }
  .contactos .contactos_body {
    width: inherit;
    height: inherit;
    background: linear-gradient(90deg, #7fedff, #00dcff 50%);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1; }
    .contactos .contactos_body form {
      display: flex;
      flex-direction: column;
      background-color: rgba(255, 255, 255, 0.7);
      backdrop-filter: blur(10px);
      width: 30%;
      height: 70%;
      padding: 3%;
      border-radius: 1rem;
      align-items: center;
      justify-content: center;
      row-gap: 3%;
      border: 1px solid #ffffff; }
      .contactos .contactos_body form input, .contactos .contactos_body form textarea {
        background-color: rgba(255, 255, 255, 0.7);
        backdrop-filter: blur(10px);
        width: 80%;
        border: none;
        outline: none;
        padding: .9%;
        border-radius: .5rem; }
        .contactos .contactos_body form input:focus, .contactos .contactos_body form textarea:focus {
          box-shadow: 0 0 5px 0 #00dcff, 0 0 5px 0 #00dcff; }
      .contactos .contactos_body form input[type='submit'], .contactos .contactos_body form input[type='reset'] {
        border: none;
        background-color: rgba(64, 191, 170, 0.9);
        color: #ffffff;
        border-radius: .9rem; }
    .contactos .contactos_body .contactos_item {
      width: 7%;
      height: 15%;
      border-radius: 50%;
      position: absolute;
      z-index: -1; }
      .contactos .contactos_body .contactos_item:nth-child(1) {
        top: 13%;
        left: 30%;
        background: linear-gradient(20deg, #845EC2, #D65DB1, #FF6F91, #FF9671, #FFC75F, #F9F871);
        animation: flotar-top 3s infinite; }
      .contactos .contactos_body .contactos_item:nth-child(2) {
        top: 50%;
        left: 62%;
        background: linear-gradient(20deg, #845EC2, #D65DB1, #FF6F91, #FF9671, #FFC75F, #F9F871);
        animation: flotar-bottom 3s infinite; }

/*movil*/
@media only screen and (max-width: 320px) {
  .navbar {
    padding: 0; }
    .navbar .nav {
      flex-direction: column;
      row-gap: 3%; }
      .navbar .nav .nav_item {
        padding: 2%; }
  .carousel {
    position: absolute;
    margin-top: 35%; }
  .title {
    margin-left: 0; } }
