@keyframes flotar-top {
  25% {
    -moz-transform: translateY(-9px); }
  50% {
    -moz-transform: translateY(0); }
  75% {
    -moz-transform: translateY(9px); } }

@keyframes flotar-bottom {
  25% {
    -moz-transform: translateY(9px); }
  50% {
    -moz-transform: translateY(0); }
  75% {
    -moz-transform: translateY(-9px); } }

@keyframes rotar {
  0% {
    -moz-transform: rotate(365deg); } }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.navbar {
  background-color: #ffffff;
  padding: .2%; }
  .navbar .nav {
    padding: inherit;
    width: 100%;
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    font-family: "Khula", sans-serif; }
    .navbar .nav .nav_item {
      padding: .5%; }
      .navbar .nav .nav_item .nav_link {
        color: #000000;
        font-size: 1.1rem;
        text-decoration: none; }
        .navbar .nav .nav_item .nav_link:hover {
          color: #006e7f;
          border-bottom: 1px solid #000000; }

.title {
  position: absolute;
  width: 30vw;
  height: 60vh;
  top: 30%;
  left: 35%;
  background-color: #000000;
  box-shadow: 0 0 5px 5px #ffffff;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 5%;
  opacity: .9; }
  .title .title_rectangle {
    border: 5px solid #ffffff;
    padding: 2%; }
    .title .title_rectangle h1 {
      color: #ffffff; }
  .title a {
    width: inherit;
    text-align: center; }
    .title a button {
      width: 50%;
      border: none;
      background-color: #ffffff;
      color: #000000;
      font-weight: bold; }

.circle1 {
  background: linear-gradient(45deg, #000000 45%, #ffffff);
  top: 40%;
  left: 20%;
  width: 10vw;
  height: 20vh;
  position: absolute;
  border-radius: 50%;
  -moz-animation: flotar-top 5s infinite; }

.circle2 {
  background: linear-gradient(25deg, #000000 45%, #ffffff);
  top: 50%;
  left: 70%;
  width: 10vw;
  height: 20vh;
  position: absolute;
  border-radius: 50%;
  -moz-animation: flotar-bottom 5s infinite; }
