@keyframes flotar-top{
    25% {
        transform: translateY(-15px);
   }
   50%{
        transform: translateY(0);
   }
   75% {
        transform: translateY(15px);
   }
}
@keyframes flotar-bottom{
    25% {
        transform: translateY(15px);
   }
   50%{
        transform: translateY(0);
   }
   75% {
        transform: translateY(-15px);
   }
}