@keyframes flotar-top{
    25% {
        -moz-transform: translateY(-15px);
   }
   50%{
        -moz-transform: translateY(0);
   }
   75% {
        -moz-transform: translateY(15px);
   }
}
@keyframes flotar-bottom{
    25% {
        -moz-transform: translateY(15px);
   }
   50%{
        -moz-transform: translateY(0);
   }
   75% {
        -moz-transform: translateY(-15px);
   }
}