.title{
    position: absolute;
    width: 30vw;
    height: 60vh;
    top: 25%;
    left: 35%;
    background-color: $black;
    box-shadow: 0 0 5px 5px $white;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 5%;
    .title_body{
         border: 5px solid $white;
         padding: 2%;
         h1{
             color: $white;
         }       
    }
    a{
        width: inherit;
        text-align: center;
        button{
            width: 50%;
            border: none;
                background-color: $white;
                color: $black;
                font-weight: bold;
        }
    }
}
.circle1{
    background:linear-gradient(45deg ,$black 45%,$white);
    top: 40%;
    left: 20%;
    width: 10vw;
    height: 20vh;
    position: absolute;
    border-radius: 50%;
    animation: flotar-top 5s infinite;
}
.circle2{
    background:linear-gradient(25deg ,$black 45%,$white);
    top: 50%;
    left: 70%;
    width: 10vw;
    height: 20vh;
    position: absolute;
    border-radius: 50%;
    animation: flotar-bottom 5s infinite;
}