.inicio{
    height: 90vh;
    display: flex;
    column-gap: 10%;
    align-items: center;
    justify-content: center;
    .inicio_header{
        width: 40%;
        height: 50%;
        .inicio_img{
            width: 100%;
            height: 100%;
            opacity: .9;
            img{
                width: 90%;
                height: inherit;
            }
        }
    }

    .inicio_body{
        width: 40%;
        height: 60%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 1%;
        border: 1px solid $two;
        position: relative;
        text-align: center;
        div{
            position: absolute;
            width: 100%;
            left: 0;
            top: 0;
            height: 5%;
            background-color: $two;
        }
        h2{
           margin-top: 5%;
            color: $three;
        }
        a{
            color: $three;
        }
        p{
            width: 80%;
            text-align: justify;
            padding: 2%;
        }
    }
    &:nth-child(2){
          flex-direction: row-reverse;
    }
}