.nosotros{
    display: flex;
    height: 90vh;
   justify-content: center;
   align-items: center;
   column-gap: 3%;
   &:nth-child(2){
       flex-direction: row-reverse;
       img{
           width: 25%;
           height: 70%;
       }
       align-items: center;
       .nosotros_text{
         h3{
             text-align: center;
             margin-right: 20%;
         }
       }
   }
    .nosotros_body{
        width: 30%;
        display: flex;
        flex-direction: column;
        height: 80%;
       justify-content: center;
       padding: 1%;
       p:nth-child(2){
         padding-bottom:10%;
         width: 80%;
         text-align: justify;
         font-size: .9rem;
       }
    }
    .nosotros_img{
        width: 30%;
    }
    .nosotros_text{
        width: 30%;
        display: flex;
        flex-direction: column;
        .nosotros_item{
            display: flex;
            flex-direction: column;
            height: 25vh;
            row-gap: 5%;
            align-items: center;
            p{
                width: 80%;
                text-align: justify;
            }
        }
    }
}
