@import 'colors';
/*movil*/
@media only screen and (max-width:320px){
 .navbar{
     padding: 0;
     .nav{
        flex-direction: column;
        row-gap: 3%;
        .nav_item{
            padding: 2%;
        }
     }
   }
   .carousel{
       position: absolute;
       margin-top: 60%;
   }
   .title{
      margin-top: 40%;
      width: 30%;
      height: 10%;
      justify-content: center;
      .title_body{
          width: 90%;
          height: 90%;
          h1{
              font-size: .7rem;
          }
      }
   }
   .circle1,.circle2{
       width: 10%;
       height: 5%;
   }

}