.main{
    display: flex;
    height: 90vh;
    width: 100%;
    align-items: center;
    justify-content: center;
    column-gap: 5%;
    .main_item{
        width: 20%;
        height: 30%;
     border: 1px solid $two;
        border-radius: 1rem;
        display: flex;
        flex-direction: inherit;
        transition: .25s;
        &:hover{
            border: none;
            box-shadow: -0px 3px 3px 3px $one;
        }
        .main_header{
            width: 40%;
            background:linear-gradient(25deg,$three,$two);
            text-align: center;
            color: $white;
            display: flex;
            align-items: center;
            justify-content: center;
            border-top-left-radius: 1rem;
            border-bottom-left-radius: 1rem;
        }
        .main_body{
            width: 60%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 1%;
            p{
                width: 80%;
                font-size: .9rem;
                
            }
            a{
                img{
                    transform: rotate(90deg);
                    transition: .30s;
                    opacity: .5;
                    &:hover{
                        transform: rotate(0deg);
                        opacity: 1;
                    }
                }
            }
        }
    }
}